@model findPet.Models.telaPublicacaoModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pet Desaparecido</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Pet Desaparecido</h1>
        
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="success-message">@TempData["SuccessMessage"]</div>
        }

        <form asp-action="Create" asp-controller="telaPublicacaoModel" method="post">
            <div class="form-group">
                <label for="Nome">Nome do Pet</label>
                <input type="text" id="Nome" name="Nome" value="@Model?.Nome" required />
            </div>
            
            <div class="form-group">
                <label for="Raca">Raça</label>
                <input type="text" id="Raca" name="Raca" value="@Model?.Raca" required />
            </div>
            
            <div class="form-group">
                <label for="Cor">Cor</label>
                <input type="text" id="Cor" name="Cor" value="@Model?.Cor" required />
            </div>
            
            <div class="form-group">
                <label for="Porte">Porte</label>
                <select id="Porte" name="Porte" required>
                    @* Renderiza a primeira opção *@
                    <option value="" disabled =  "@(Model?.Porte == null ? "selected" : "")">Selecione o porte</option>

                    @* Renderiza as opções com base no modelo *@
                    <option value="Pequeno" disabled = "@(Model?.Porte == "Pequeno" ? "selected" : "")">Pequeno</option>
                    <option value="Médio" disabled = "@(Model?.Porte == "Médio" ? "selected" : "")">Médio</option>
                    <option value="Grande" disabled = "@(Model?.Porte == "Grande" ? "selected" : "")">Grande</option>
                </select>
            </div>



            
            <div class="form-group">
                <label for="LocalDesaparecimento">Local do Desaparecimento</label>
                <input type="text" id="LocalDesaparecimento" name="LocalDesaparecimento" value="@Model?.LocalDesaparecimento" required />
            </div>
            
            <div class="form-group">
                <label for="DataDesaparecimento">Data do Desaparecimento</label>
                <input type="date" id="DataDesaparecimento" name="DataDesaparecimento" value="@Model?.DataDesaparecimento.ToString("yyyy-MM-dd")" required />
            </div>
            
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
